*

!.gitignore
!.zshrc
.config
!.config

!.local
!.local/bin
!.local/bin/**

!.config/nvim
!.config/nvim/**
.config/nvim/lazy-lock.json

!.config/neovide
!.config/neovide/**

!.config/kitty
!.config/kitty/**

!.config/lazygit
!.config/lazygit/**

!.config/zsh
!.config/zsh/**
